@font-face {
  font-family: "myNorce-Bold";
  src: url(Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */

}

body {
  min-height: 100vh;
  min-width: 100vw;

}

:root {
  font-family: Roboto;
  font-size: 15px;
  --color-black: black;
  --color-white: #ffffff;
  --color-gray: hwb(221 7% 85% / 0.658);
  --color-blue: #2563eb;
  --color-gray-input: #a1a1aa;
  --color-background: #e0e7ff;
}

.container {
  background-color: skyblue;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: .5fr 2fr 1fr/ .7fr 3fr;
  grid-template-areas:
    "menu header"
    "menu main"
    "menu main"
  ;
}

.menu {
  grid-area: menu;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
}

.header {
  grid-area: header;
  background-color: var(--color-white);
  padding: 5px 10px 10px 6px;
}

.main {
  grid-area: main;
  background: var(--color-background);
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 12px;
  padding: 20px 10px 30px;
  overflow: auto;
}

/* ------- START: header */
/* Part Up: search-notification */
.header amp-img,
.header img {
  width: 30px;
  height: 30px;
}

.search-notification {
  margin-bottom: 20px;
}

.search {
  display: flex;
  gap: 4px;
}

.search input {
  /* search input */
  border-radius: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid var(--color-gray-input);
  outline: none;
  width: 40vw;
  background: var(--color-background);
  color: var(--color-black)
}

.profile-notification {
  display: flex;
  align-items: center;
  gap: 14px;
}

.profile-notification .xavatario {
  border-radius: 30px;
  width: 45px;
  height: 45px;
}

.profile-user {
  width: 50px;
  overflow: hidden;
}


/* Part Down: info-user */
.profile-text-img {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 30vw; 
}

.profile-text-img amp-img,
.profile-text-img img {
  border-radius: 30px;
  width: 60px;
  height: 60px;
}

.profile-text-img span {
  font-size: calc(1rem - 2px);
}

.profile-text-img img {
  width: 50px;
  height: 50px;
}

.search-notification,
.info-user {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.buttons-info-user {
  display: flex;
  gap: 20px;
}

.buttons-info-user>button {
  color: var(--color-white);
  background-color: var(--color-blue);
  font-weight: 600;
  border-radius: 25px;
  width: 70px;
  height: 6vh;
  border: var(--color-blue);

}



/* ------- END: header */

/* ------- START: YOUR PROJECTS */

/* ------- START:All cards - main */
.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-auto-rows: 200px;
  gap: 15px;
}

.article .card {
  height: 200px;
  background-color: var(--color-white);
  width: max(10%, 350px);
  padding: 10px;
  border-left: 6px solid #ca8a04;
  border-radius: 12px;
}

.card p {
  padding: 5px;
  
}

.text-card{
  width: auto;
  height: 100px;
  overflow: overlay;
}

.icons-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: flex-start;
  justify-content: flex-end;
  margin-top: 15px;

}


.icons-cards svg {
  width: 30px;
  height: 30px;

}

/* ------- END: All cards  */

/* ------- END: YOUR PROJECTS */


/* ------- START: Announcements*/
.announcements {
  height: 50%;

}

.info-announcements {
  height: auto;
  width: auto;
  padding: 15px 15px 22px 15px;
  border-radius: 10px;
  background: white;


}

.info-announcements p {
  width: fit-content;
}

.info-announcements hr {
  margin: 10px 0 10px 0;
}

/* ------- END: Announcements*/


/* ------- START: trending*/
.trending {
  /* width: 20vw; */
  height: 55%;

}

.info-trending {
  background-color: var(--color-white);
  border-radius: 10px;

}

.card-trending {

  display: flex;
  ;
  gap: 10px;
  padding: 15px 15px 22px 15px;

}

.card-trending span {
  color: var(--color-gray);
  font-weight: bold;
}

/* .card-trending > amp-img, */
.card-trending .xavatario {
  /* TODO: cambiar div po img */
  height: 34px;
  width: 34px;
  border-radius: 20px;
}

.info-trending p {
  width: fit-content;
}

/* ------- END: trending*/

/* ------- START: Menu*/
.option {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 4px 0 4px 0;
  padding: 2px 0 2px 20px;

}

.menu a {
  color: var(--color-black);
  text-decoration: none;
  font-size: calc(1rem + 3px);
  color: var(--color-white);


}

.menu a:hover {
  background-color: skyblue;

}

.option amp-img,
.option img {
  height: 25px;
  width: 25px;

}

.option.dashboard amp-img,
.option.dashboard img {
  width: 35px;
  height: 35px;
}


.menu-up {
  margin-top: 20px;
  margin-bottom: 20px;

}

.dashboard {
  margin-top: 15px;


}


.option.dashboard p {
  font-size: calc(1rem + 10px);

}

/* ------- END: Menu*/